.image-slider {
  position: relative;
  padding: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-slider__controls {
  padding: 0px;
  position: absolute;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.image-slider__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--background-color);
  transition: color 0.3s ease;
}

.image-slider__button:hover {
  color: var(--text-hover-color);
}

.image-slider__track {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.image-slider__image {
  object-fit: cover;
  transition: transform 0.3s ease, opacity 0.3s ease;
  will-change: transform, opacity;
  border-radius: 15px;
}

.image-slider__image--middle {
  cursor: pointer;
  width: 70%;
  height: 70%;
  z-index: 2;
}

.image-slider__image--left,
.image-slider__image--right {
  width: 20%;
  height: 50%;
  opacity: 0.5;
  z-index: 1;
  filter: brightness(75%) blur(2px);
  border-radius: 0;
}

.image-slider__image--left {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.image-slider__image--right {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.image-slider__dots {
  position: absolute;
  bottom: 5%;
  z-index: 10;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.image-slider__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: var(--border-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.image-slider__dot:hover {
  background-color: var(--text-hover-color);
}

.image-slider__dot.active {
  background-color: var(--button-color);
  transform: scale(1.2);
}
