.slider-container {
  width: 100%;
  margin-top: 100px;
}

.swiper-slide {
  border-radius: 20px;
  width: 600px !important;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s, opacity 0.3s;
  opacity: 0.6;
  transform: scale(0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.swiper-slide-active {
  transform: scale(1.05);
  opacity: 1;
  z-index: 2;
}

.slider__image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}

.slider__title {
  font-size: 1.1rem;
  margin: 10px 0;
}

.slider__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--btn-primary-text);
  background: rgba(31, 31, 31, 0.4);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.slider__text-box {
  font-size: 0.95rem;
}

.slider__header {
  width: 100%;
  padding: 0 20px;
}

.slider__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 10px 20px;
}

.slider__category {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.slider__category span {
  background-color: var(--btn-primary-bg);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.slider__button {
  padding: 8px 15px;
  border: none;
  background: var(--btn-primary-bg);
  color: var(--btn-primary-text);
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.slider__button:hover {
  background: #444;
}

.slider-container .swiper-pagination {
  margin-top: 30px;
  position: relative;
}

.slider-container .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--text-primary);
  border-radius: 50%;
}

.slider-container .swiper-pagination-bullet-active {
  width: 32px;
  border-radius: 14px;
  background-color: var(--btn-secondary-hover);
}

@media (max-width: 478px) {
  .swiper-slide {
    width: 90% !important;
    max-width: 600px;
    height: 200px;
  }
  .slider-container .swiper-pagination {
    margin-top: 35px;
  }
  .slider-container .swiper-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }

  .slider-container .swiper-pagination-bullet-active {
    width: 16px;
  }

  .slider__content {
    bottom: -25px;
  }

  .slider__title {
    font-size: 0.8rem;
  }

  .slider__text-box {
    font-size: 0.8rem;
  }
}
