.scroll-top-btn {
  width: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px;
  background-color: var(--text-primary);
  border: 2px solid var(--border-color);
  border-radius: 50%;
  cursor: pointer;
}

.scroll-top-btn:hover {
  animation: bounce 1s ease-in-out infinite;
}

.top__icon {
  color: var(--bg-color);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.top__icon:hover {
  color: var(--bg-secondary-color);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
