.auth-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.auth-block__terms {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 0.8rem;
  max-width: 300px;
  padding: 5px;
}

.auth-block__terms__text {
  margin: 0;
  padding: 0;
}

.auth-block__terms__link,
.auth-block__link {
  color: var(--green-color);
  padding: 0;
  font-weight: 500;
  transition: color 0.3s ease;
}

.auth-block__terms__link:hover,
.auth-block__link:hover {
  color: var(--green-hover-color);
}

.auth-block__link {
  font-size: 0.9rem;
  text-align: center;
  padding: 3px 0;
}

.auth-button,
.social__button {
  cursor: pointer;
  border: none;
  background-color: white;
  color: var(--button-color);
  font-size: 1rem;
  font-weight: 600;
  height: 45px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.auth-button:hover,
.social__button:hover {
  background-color: var(--button-hover-color);
  color: var(--button-color);
}

.separator {
  margin: 15px 0;
  text-align: center;
}

.auth-block__social {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.social__button {
  border: 1px solid var(--border-color);
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
