.cart-item {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  padding: 15px 10px;
  gap: 15px;
  border-bottom: 2px solid var(--border-color);
}

.cart-item__image-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.cart-item__image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: contain;
  flex-shrink: 0;
}
.cart-item__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.cart-item__info--status {
  background-color: var(--success);
  color: var(--btn-primary-text);
  font-size: 0.8rem;
  font-weight: 550;
  padding: 8px;
  border-radius: 5px;
  width: fit-content;
}

.cart-item__info--color {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-item__info--color-text {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-secondary);
}

.cart-item__info--color-value {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.cart-item__final {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 10px;
}

.product__quantity {
  color: var(--success);
}
.cart-item__info--actions {
  display: flex;
  gap: 20px;
}

.cart-item__info--btn {
  padding: 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  gap: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-secondary);
  transition: color 0.3s ease;
  cursor: pointer;
}

.cart-item__info--remove:hover {
  color: var(--btn-fav-color);
}
.cart-item__info--save:hover {
  color: var(--accent-secondary);
}

@media (max-width: 500px) {
  .cart-item {
    flex-direction: column;
    gap: 20px;
  }

  .cart-item__final {
    flex-direction: row;
    padding: 0;
  }
}
