.shopping-cart {
  display: flex;
  flex-direction: column;
  gap: 10px;

  color: var(--text-primary);
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 15px;

  height: auto;
  padding: 20px;
  z-index: 100;
}

.shopping-cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-cart__header--text {
  font-weight: 500;
}
.shopping-cart__header--close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
  color: var(--btn-primary-text);
}
.shopping-cart__header--close:hover {
  color: var(--text-secondary);
}

.shopping-cart__items {
  max-height: 400px;
  overflow-y: auto;
}

.shopping-cart__info,
.shopping-cart__total {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-secondary);
  border-bottom: 2px solid var(--border-color);
}

.shopping-cart__info-row {
  display: flex;
  justify-content: space-between;
}

.shopping-cart__total {
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  color: var(--text-primary);
  border: none;
}

.shopping-cart__checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-text);

  font-family: inherit;
  font-weight: 550;
  font-size: 1rem;
  cursor: pointer;

  margin: 0 auto;
  transition: background-color 0.3s ease;
}

.shopping-cart__checkout:hover {
  background-color: var(--btn-primary-hover);
}
.shopping-cart__checkout:active {
  background-color: var(--btn-primary-active);
}

.shopping-cart__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  gap: 20px;
  padding: 25px;
}
.shopping-cart__empty-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 550;
  color: var(--btn-primary-text);
  background-color: var(--btn-primary-bg);
  border: 1px solid var(--border-color);
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shopping-cart__empty-button:hover {
  background-color: var(--btn-secondary-bg);
}

@media (max-width: 478px) {
  .shopping-cart__info {
    padding: 20px 0;
  }
}
