@import "normalize.css";

:root {
  --background-color: #f4f4f4;
  --border-color: #e1e2e3;
  --button-color: #242424;
  --text-hover-color: #555;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
