@import "normalize.css";

:root {
  --background-color: #f4f4f4;
  --border-color: #e1e2e3;
  --button-color: #242424;
  --text-hover-color: #555;
  --button-hover-color: #c2c1c1;
  --button-active-color: #2e2e2e;
  --outline-color: #0056b3;
  --light-green-color: rgb(33, 190, 33);
  --green-color: rgb(0, 167, 0);
  --green-hover-color: rgb(1, 145, 1);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
