body {
  background-color: var(--background-color);
}

.page-content {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;

  border-color: var(--border-color);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 0px;
}
