body {
  background-color: var(--background-color);
}

.page-container {
  max-width: 1400px;
  margin: 0 auto;

  width: 100%;
  height: fit-content;

  border-color: var(--border-color);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 0px;
}
