.not_found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

.not_found-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5vh;
}

.not_found h1 {
  font-size: 3rem;
}
